/* General Container */
.nft-container {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
  margin: 10% 15% 10% 45%;
}

.heading {
  text-align: center;
  color: #4a90e2;
  font-size: 24px;
  margin-bottom: 20px;
}

/* Action Buttons */
.actions {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.mint-form {
  margin-bottom: 20px;
}

.nft-info {
  margin-bottom: 10px;
}

.nft-transfer input {
  width: 100%;
  margin-bottom: 10px;
}

.nft-burn {
  text-align: center;
}
